.CTA {
  align-items: flex-start;
  background-color: var(--semantic-background-color-primary);
  display: flex;
  flex-direction: column;
  position: relative;
}

.CTA .container-4 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.CTA .heading-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
}

.CTA .heading-4 {
  align-self: stretch;
  color: var(--semantic-text-primary);
  margin-top: -1px;
  position: relative;
}

.CTA .column-8 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
}

.CTA .text-10 {
  align-self: stretch;
  color: var(--semantic-text-primary);
  margin-top: -1px;
  position: relative;
}

.CTA .actions-5 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 16px;
  padding: 16px 0px 0px;
  position: relative;
}

.CTA .button-8 {
  flex: 0 0 auto !important;
  margin-bottom: -1px !important;
  margin-right: -1px !important;
  margin-top: -1px !important;
}

.CTA.breakpoint-46-mobile {
  gap: 48px;
  padding: 64px 20px;
  width: 375px;
}

.CTA.breakpoint-46-desktop {
  gap: 80px;
  padding: 112px 64px;
  width: 1440px;
}

.CTA.breakpoint-46-mobile .container-4 {
  flex-direction: column;
  gap: 20px;
}

.CTA.breakpoint-46-desktop .container-4 {
  gap: 80px;
}

.CTA.breakpoint-46-mobile .heading-wrapper {
  align-self: stretch;
  flex: 0 0 auto;
  gap: 12px;
  width: 100%;
}

.CTA.breakpoint-46-desktop .heading-wrapper {
  flex: 1;
  flex-grow: 1;
  gap: 24px;
}

.CTA.breakpoint-46-mobile .heading-4 {
  font-family: var(--heading-mobile-h2-font-family);
  font-size: var(--heading-mobile-h2-font-size);
  font-style: var(--heading-mobile-h2-font-style);
  font-weight: var(--heading-mobile-h2-font-weight);
  letter-spacing: var(--heading-mobile-h2-letter-spacing);
  line-height: var(--heading-mobile-h2-line-height);
}

.CTA.breakpoint-46-desktop .heading-4 {
  font-family: var(--heading-desktop-h2-font-family);
  font-size: var(--heading-desktop-h2-font-size);
  font-style: var(--heading-desktop-h2-font-style);
  font-weight: var(--heading-desktop-h2-font-weight);
  letter-spacing: var(--heading-desktop-h2-letter-spacing);
  line-height: var(--heading-desktop-h2-line-height);
}

.CTA.breakpoint-46-mobile .column-8 {
  align-self: stretch;
  flex: 0 0 auto;
  gap: 8px;
  width: 100%;
}

.CTA.breakpoint-46-desktop .column-8 {
  flex: 1;
  flex-grow: 1;
  gap: 24px;
}

.CTA.breakpoint-46-mobile .text-10 {
  font-family: var(--text-regular-normal-font-family);
  font-size: var(--text-regular-normal-font-size);
  font-style: var(--text-regular-normal-font-style);
  font-weight: var(--text-regular-normal-font-weight);
  letter-spacing: var(--text-regular-normal-letter-spacing);
  line-height: var(--text-regular-normal-line-height);
}

.CTA.breakpoint-46-desktop .text-10 {
  font-family: var(--text-medium-normal-font-family);
  font-size: var(--text-medium-normal-font-size);
  font-style: var(--text-medium-normal-font-style);
  font-weight: var(--text-medium-normal-font-weight);
  letter-spacing: var(--text-medium-normal-letter-spacing);
  line-height: var(--text-medium-normal-line-height);
}
