.CTA {
  align-items: flex-start;
  background-color: #00000080;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: relative;
}

.CTA .column-8 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.CTA .content-13 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.CTA .heading-8 {
  align-self: stretch;
  color: var(--semantic-text-alternate);
  margin-top: -1px;
  position: relative;
}

.CTA .text-6 {
  align-self: stretch;
  color: var(--semantic-text-alternate);
  position: relative;
}

.CTA .actions-5 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 16px;
  padding: 16px 0px 0px;
  position: relative;
}

.CTA .button-9 {
  flex: 0 0 auto !important;
  margin-bottom: -1px !important;
  margin-right: -1px !important;
  margin-top: -1px !important;
}

.CTA.breakpoint-33-mobile {
  background-image: url(../../../static/img/breakpoint-mobile.png);
  gap: 48px;
  padding: 64px 20px;
  width: 375px;
}

.CTA.breakpoint-33-desktop {
  background-image: url(../../../static/img/breakpoint-desktop.png);
  gap: 80px;
  padding: 112px 64px;
  width: 1440px;
}

.CTA.breakpoint-33-mobile .column-8 {
  align-self: stretch;
  gap: 8px;
  width: 100%;
}

.CTA.breakpoint-33-desktop .column-8 {
  gap: 24px;
  width: 768px;
}

.CTA.breakpoint-33-mobile .content-13 {
  gap: 20px;
}

.CTA.breakpoint-33-desktop .content-13 {
  gap: 24px;
}

.CTA.breakpoint-33-mobile .heading-8 {
  font-family: var(--heading-mobile-h2-font-family);
  font-size: var(--heading-mobile-h2-font-size);
  font-style: var(--heading-mobile-h2-font-style);
  font-weight: var(--heading-mobile-h2-font-weight);
  letter-spacing: var(--heading-mobile-h2-letter-spacing);
  line-height: var(--heading-mobile-h2-line-height);
}

.CTA.breakpoint-33-desktop .heading-8 {
  font-family: var(--heading-desktop-h2-font-family);
  font-size: var(--heading-desktop-h2-font-size);
  font-style: var(--heading-desktop-h2-font-style);
  font-weight: var(--heading-desktop-h2-font-weight);
  letter-spacing: var(--heading-desktop-h2-letter-spacing);
  line-height: var(--heading-desktop-h2-line-height);
}

.CTA.breakpoint-33-mobile .text-6 {
  font-family: var(--text-regular-normal-font-family);
  font-size: var(--text-regular-normal-font-size);
  font-style: var(--text-regular-normal-font-style);
  font-weight: var(--text-regular-normal-font-weight);
  letter-spacing: var(--text-regular-normal-letter-spacing);
  line-height: var(--text-regular-normal-line-height);
}

.CTA.breakpoint-33-desktop .text-6 {
  font-family: var(--text-medium-normal-font-family);
  font-size: var(--text-medium-normal-font-size);
  font-style: var(--text-medium-normal-font-style);
  font-weight: var(--text-medium-normal-font-weight);
  letter-spacing: var(--text-medium-normal-letter-spacing);
  line-height: var(--text-medium-normal-line-height);
}
