.layout {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  position: relative;
}

.layout .section-title {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.layout .subheading {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  text-align: center;
}

.layout .content-3 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.layout .heading {
  align-self: stretch;
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-weight: 700;
  letter-spacing: 0;
  margin-top: -1px;
  position: relative;
  text-align: center;
}

.layout .text {
  align-self: stretch;
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  position: relative;
  text-align: center;
}

.layout .row-wrapper {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.layout .row-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.layout .card {
  align-items: flex-start;
  align-self: stretch;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
  display: flex;
  flex-direction: column;
  margin-left: -1px;
  margin-top: -1px;
  position: relative;
}

.layout .content-4 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding: 24px;
  position: relative;
  width: 100%;
}

.layout .content-top {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.layout .icon-relume-52 {
  height: 48px !important;
  position: relative !important;
  width: 48px !important;
}

.layout .div-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

.layout .p {
  align-self: stretch;
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-weight: 700;
  letter-spacing: 0;
  margin-top: -1px;
  position: relative;
}

.layout .text-2 {
  align-self: stretch;
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
}

.layout .button-wrapper {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 24px;
  position: relative;
  width: 100%;
}

.layout .button-5 {
  flex: 0 0 auto !important;
}

.layout .content-wrapper {
  align-items: flex-start;
  align-self: stretch;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
  display: flex;
  flex-direction: column;
  position: relative;
}

.layout .content-5 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding: 24px;
  position: relative;
  width: 100%;
}

.layout .content-top-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.layout .heading-2 {
  align-self: stretch;
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-weight: 700;
  letter-spacing: 0;
  margin-top: -1px;
  position: relative;
}

.layout .card-2 {
  align-items: flex-start;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
  display: flex;
  margin-bottom: -1px;
  margin-right: -1px;
  position: relative;
}

.layout .image {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  position: relative;
}

.layout .img {
  align-self: stretch;
  flex: 1;
  flex-grow: 1;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.layout .content-6 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding: 24px;
  position: relative;
}

.layout .subheading-2 {
  align-self: stretch;
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
}

.layout .heading-3 {
  align-self: stretch;
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-weight: 700;
  letter-spacing: 0;
  margin-top: -1px;
  position: relative;
}

.layout.breakpoint-5-mobile {
  gap: 48px;
  padding: 64px 20px;
  width: 375px;
}

.layout.breakpoint-5-desktop {
  gap: 80px;
  padding: 112px 64px;
  width: 1440px;
}

.layout.breakpoint-5-mobile .section-title {
  align-self: stretch;
  gap: 12px;
  width: 100%;
}

.layout.breakpoint-5-desktop .section-title {
  gap: 16px;
  width: 768px;
}

.layout.breakpoint-5-mobile .subheading {
  align-self: stretch;
}

.layout.breakpoint-5-desktop .subheading {
  white-space: nowrap;
  width: fit-content;
}

.layout.breakpoint-5-mobile .content-3 {
  gap: 20px;
}

.layout.breakpoint-5-desktop .content-3 {
  gap: 24px;
}

.layout.breakpoint-5-mobile .heading {
  font-size: 36px;
  line-height: 43.2px;
}

.layout.breakpoint-5-desktop .heading {
  font-size: 48px;
  line-height: 57.6px;
}

.layout.breakpoint-5-mobile .text {
  font-size: 16px;
  line-height: 24px;
}

.layout.breakpoint-5-desktop .text {
  font-size: 18px;
  line-height: 27px;
}

.layout.breakpoint-5-mobile .row-wrapper {
  gap: 24px;
}

.layout.breakpoint-5-desktop .row-wrapper {
  gap: 32px;
}

.layout.breakpoint-5-mobile .row-2 {
  flex-direction: column;
  gap: 24px;
}

.layout.breakpoint-5-desktop .row-2 {
  gap: 32px;
}

.layout.breakpoint-5-mobile .card {
  flex: 0 0 auto;
  margin-right: -1px;
  width: 100%;
}

.layout.breakpoint-5-desktop .card {
  flex: 1;
  flex-grow: 1;
  margin-bottom: -1px;
}

.layout.breakpoint-5-mobile .content-4 {
  flex: 0 0 auto;
  gap: 20px;
}

.layout.breakpoint-5-desktop .content-4 {
  flex: 1;
  flex-grow: 1;
  gap: 24px;
}

.layout.breakpoint-5-mobile .content-top {
  gap: 12px;
}

.layout.breakpoint-5-desktop .content-top {
  gap: 16px;
}

.layout.breakpoint-5-mobile .p {
  font-size: 20px;
  line-height: 28px;
}

.layout.breakpoint-5-desktop .p {
  font-size: 24px;
  line-height: 33.6px;
}

.layout.breakpoint-5-mobile .content-wrapper {
  flex: 0 0 auto;
  margin-left: -1px;
  margin-right: -1px;
  width: 100%;
}

.layout.breakpoint-5-desktop .content-wrapper {
  flex: 1;
  flex-grow: 1;
  margin-bottom: -1px;
  margin-top: -1px;
}

.layout.breakpoint-5-mobile .content-5 {
  flex: 0 0 auto;
  gap: 20px;
}

.layout.breakpoint-5-desktop .content-5 {
  flex: 1;
  flex-grow: 1;
  gap: 24px;
}

.layout.breakpoint-5-mobile .content-top-2 {
  gap: 12px;
}

.layout.breakpoint-5-desktop .content-top-2 {
  gap: 16px;
}

.layout.breakpoint-5-mobile .heading-2 {
  font-size: 20px;
  line-height: 28px;
}

.layout.breakpoint-5-desktop .heading-2 {
  font-size: 24px;
  line-height: 33.6px;
}

.layout.breakpoint-5-mobile .card-2 {
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  margin-left: -1px;
  width: 100%;
}

.layout.breakpoint-5-desktop .card-2 {
  height: 362px;
  margin-top: -1px;
  width: 642px;
}

.layout.breakpoint-5-mobile .image {
  align-items: center;
  height: 326px;
  width: 100%;
}

.layout.breakpoint-5-desktop .image {
  align-items: flex-end;
  flex: 1;
  flex-grow: 1;
  justify-content: center;
}

.layout.breakpoint-5-mobile .content-6 {
  flex: 0 0 auto;
  gap: 20px;
  width: 100%;
}

.layout.breakpoint-5-desktop .content-6 {
  flex: 1;
  flex-grow: 1;
  gap: 24px;
  justify-content: center;
}

.layout.breakpoint-5-mobile .heading-3 {
  font-size: 20px;
  line-height: 28px;
}

.layout.breakpoint-5-desktop .heading-3 {
  font-size: 24px;
  line-height: 33.6px;
}
