.beach-details {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 4806px;
  padding: 10px;
  position: relative;
  width: 1440px;
}

.beach-details .div-2 {
  background-color: #ffffff;
  height: 4906px;
  overflow: hidden;
  position: relative;
  top: -100px;
  width: 1440px;
}

.beach-details .navbar-1 {
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
}

.beach-details .navbar-instance {
  margin-left: -1px !important;
  margin-top: -1px !important;
}

.beach-details .navbar-1-instance {
  border-color: unset !important;
  flex: 0 0 auto !important;
  margin-bottom: -2px !important;
  margin-right: -2px !important;
  margin-top: -2px !important;
}

.beach-details .overlap-group {
  height: 1319px;
  left: -10px;
  position: absolute;
  top: 72px;
  width: 1460px;
}

.beach-details .portfolio-header {
  align-items: center;
  background-color: #00000033;
  background-image: url(../../../static/img/portfolio-header-8.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 80px;
  height: 751px;
  justify-content: flex-end;
  left: 10px;
  padding: 112px 64px;
  position: absolute;
  top: 0;
  width: 1440px;
}

.beach-details .content-13 {
  align-items: flex-end;
  align-self: stretch;
  background-color: #216073;
  display: flex;
  flex: 0 0 auto;
  gap: 80px;
  position: relative;
  width: 100%;
}

.beach-details .column-6 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 13px;
  position: relative;
}

.beach-details .content-14 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  height: 141px;
  position: relative;
}

.beach-details .heading-6 {
  color: #ffffff;
  font-family: var(--heading-desktop-h1-font-family);
  font-size: var(--heading-desktop-h1-font-size);
  font-style: var(--heading-desktop-h1-font-style);
  font-weight: var(--heading-desktop-h1-font-weight);
  letter-spacing: var(--heading-desktop-h1-letter-spacing);
  line-height: var(--heading-desktop-h1-line-height);
  margin-top: -1px;
  position: relative;
  width: 768px;
}

.beach-details .text-8 {
  color: #ffffff;
  font-family: "Roboto", Helvetica;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 48px;
  position: relative;
  width: 768px;
}

.beach-details .tags {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 27px;
  padding: 5px 19px;
  position: relative;
  width: 100%;
}

.beach-details .tag {
  align-items: flex-start;
  background-color: var(--primitive-color-neutral-neutral-lightest-duplicate);
  display: inline-flex;
  flex: 0 0 auto;
  padding: 8px 14px;
  position: relative;
}

.beach-details .tag-one {
  color: var(--semantic-text-primary-duplicate);
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 21px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.beach-details .tag-two {
  color: var(--semantic-text-primary-duplicate);
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 19.6px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.beach-details .tag-three {
  color: var(--semantic-text-primary-duplicate);
  font-family: var(--text-small-semi-bold-font-family);
  font-size: var(--text-small-semi-bold-font-size);
  font-style: var(--text-small-semi-bold-font-style);
  font-weight: var(--text-small-semi-bold-font-weight);
  letter-spacing: var(--text-small-semi-bold-letter-spacing);
  line-height: var(--text-small-semi-bold-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.beach-details .list-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 464px;
}

.beach-details .content-15 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 32px;
  position: relative;
  width: 100%;
}

.beach-details .list-item-9 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 7px;
  justify-content: flex-end;
  position: relative;
}

.beach-details .text-9 {
  color: #ffffff;
  font-family: "Roboto", Helvetica;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 33.6px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.beach-details .text-10 {
  color: #ffffff;
  font-family: "Roboto", Helvetica;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.48px;
  line-height: 36px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.beach-details .span {
  letter-spacing: 0.12px;
}

.beach-details .text-wrapper-10 {
  font-size: 16px;
  letter-spacing: 0.05px;
  line-height: 24px;
}

.beach-details .list-item-10 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 8px;
  position: relative;
}

.beach-details .text-11 {
  color: #ffffff;
  font-family: var(--heading-desktop-h6-font-family);
  font-size: var(--heading-desktop-h6-font-size);
  font-style: var(--heading-desktop-h6-font-style);
  font-weight: var(--heading-desktop-h6-font-weight);
  letter-spacing: var(--heading-desktop-h6-letter-spacing);
  line-height: var(--heading-desktop-h6-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.beach-details .text-12 {
  color: #ffffff;
  font-family: var(--text-regular-normal-font-family);
  font-size: var(--text-regular-normal-font-size);
  font-style: var(--text-regular-normal-font-style);
  font-weight: var(--text-regular-normal-font-weight);
  letter-spacing: var(--text-regular-normal-letter-spacing);
  line-height: var(--text-regular-normal-line-height);
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.beach-details .content-16 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.beach-details .list-item-11 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 8px;
  position: relative;
}

.beach-details .text-13 {
  color: #ffffff;
  font-family: "Roboto", Helvetica;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 48px;
  position: relative;
  text-decoration: underline;
  white-space: nowrap;
  width: fit-content;
}

.beach-details .frame {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 592px;
  left: 0;
  padding: 10px;
  position: absolute;
  top: 727px;
  width: 1460px;
}

.beach-details .layout-25 {
  align-items: center !important;
  align-self: stretch !important;
  gap: unset !important;
  height: 609px !important;
  justify-content: center !important;
  margin-bottom: -37px !important;
  padding: 116px 39px !important;
  width: 100% !important;
}

.beach-details .layout-instance {
  align-items: flex-start !important;
  align-self: unset !important;
  margin-bottom: -41.5px !important;
  margin-top: -41.5px !important;
  width: 1312px !important;
}

.beach-details .layout-25-instance {
  color: var(--primitive-color-neutral-neutral-darkest) !important;
}

.beach-details .icon-instance-node {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.beach-details .layout-2 {
  align-self: stretch !important;
  height: unset !important;
}

.beach-details .overlap {
  height: 1421px;
  left: 0;
  position: absolute;
  top: 1420px;
  width: 1440px;
}

.beach-details .layout-27 {
  background-color: var(--primitive-color-neutral-neutral-lighter) !important;
  height: 590px !important;
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
}

.beach-details .layout-27-instance {
  align-items: flex-start !important;
  background-color: #cccccc !important;
  gap: 39px !important;
  margin-bottom: -48px !important;
}

.beach-details .layout-3 {
  align-self: unset !important;
  font-family: "Roboto", Helvetica !important;
  font-size: 40px !important;
  font-style: unset !important;
  font-weight: 700 !important;
  letter-spacing: 2.8px !important;
  line-height: 56.8px !important;
  width: 616px !important;
}

.beach-details .layout-4 {
  font-family: "Roboto", Helvetica !important;
  font-size: 24px !important;
  font-style: unset !important;
  font-weight: 400 !important;
  letter-spacing: 0 !important;
  line-height: 36px !important;
}

.beach-details .layout-5 {
  font-family: "Roboto", Helvetica !important;
  font-size: 32px !important;
  font-style: unset !important;
  font-weight: 400 !important;
  letter-spacing: 0 !important;
  line-height: 48px !important;
  margin-top: -1px !important;
}

.beach-details .layout-7 {
  background-color: #cccccc !important;
  height: 114px !important;
  justify-content: flex-end !important;
}

.beach-details .layout-10-instance {
  left: 0 !important;
  position: absolute !important;
  top: 557px !important;
}

.beach-details .layout-6-instance {
  background-color: var(--primitive-color-neutral-neutral-lighter) !important;
  left: 0 !important;
  position: absolute !important;
  top: 2841px !important;
}

.beach-details .layout-8 {
  align-items: flex-start !important;
  gap: 86px !important;
}

.beach-details .layout-9 {
  gap: unset !important;
  height: 365px !important;
  justify-content: space-between !important;
}

.beach-details .layout-90 {
  left: 0 !important;
  position: absolute !important;
  top: 3705px !important;
}

.beach-details .footer-7 {
  height: 522px !important;
  left: 0 !important;
  position: absolute !important;
  top: 4503px !important;
}

.beach-details .footer-instance {
  margin-right: -24px !important;
}

.beach-details .rectangle {
  height: 86px;
  left: 1829px;
  position: absolute;
  top: 8038px;
  width: 1332px;
}
