.breakpoint-desktop-wrapper {
  align-items: flex-start;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  position: relative;
}

.breakpoint-desktop-wrapper .container-3 {
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.breakpoint-desktop-wrapper .content-8 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
}

.breakpoint-desktop-wrapper .heading-4 {
  align-self: stretch;
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-weight: 700;
  letter-spacing: 0;
  margin-top: -1px;
  position: relative;
}

.breakpoint-desktop-wrapper .text-5 {
  align-self: stretch;
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 27px;
  position: relative;
}

.breakpoint-desktop-wrapper .placeholder-image-2 {
  object-fit: cover;
  position: relative;
}

.breakpoint-desktop-wrapper.breakpoint-28-mobile {
  gap: 48px;
  padding: 64px 20px;
  width: 375px;
}

.breakpoint-desktop-wrapper.breakpoint-28-desktop {
  gap: 80px;
  padding: 112px 64px;
  width: 1440px;
}

.breakpoint-desktop-wrapper.breakpoint-28-mobile .container-3 {
  align-items: flex-start;
  flex-direction: column;
  gap: 48px;
}

.breakpoint-desktop-wrapper.breakpoint-28-desktop .container-3 {
  align-items: center;
  gap: 80px;
}

.breakpoint-desktop-wrapper.breakpoint-28-mobile .content-8 {
  align-self: stretch;
  flex: 0 0 auto;
  gap: 20px;
  width: 100%;
}

.breakpoint-desktop-wrapper.breakpoint-28-desktop .content-8 {
  flex: 1;
  flex-grow: 1;
  gap: 24px;
}

.breakpoint-desktop-wrapper.breakpoint-28-mobile .heading-4 {
  font-size: 32px;
  line-height: 38.4px;
}

.breakpoint-desktop-wrapper.breakpoint-28-desktop .heading-4 {
  font-size: 40px;
  line-height: 48px;
}

.breakpoint-desktop-wrapper.breakpoint-28-mobile .placeholder-image-2 {
  align-self: stretch;
  height: 348px;
  width: 100%;
}

.breakpoint-desktop-wrapper.breakpoint-28-desktop .placeholder-image-2 {
  flex: 1;
  flex-grow: 1;
  height: 640px;
}
