.community-discussion {
  height: 5185px;
  width: 1440px;
}

.community-discussion .div-3 {
  align-items: flex-start;
  background-color: #ffffff;
  display: inline-flex;
  flex-direction: column;
  position: relative;
}

.community-discussion .design-component-instance-node {
  margin-left: -1px !important;
  margin-top: -1px !important;
}

.community-discussion .navbar-1 {
  flex: 0 0 auto !important;
  margin-bottom: -2px !important;
  margin-right: -2px !important;
  margin-top: -2px !important;
}

.community-discussion .design-component-instance-node-2 {
  flex: 0 0 auto !important;
}

.community-discussion .design-component-instance-node-3 {
  flex: 0 0 auto !important;
  margin-bottom: -2px !important;
  margin-left: -2px !important;
  margin-top: -2px !important;
}

.community-discussion .contact {
  align-items: flex-start;
  background-color: var(--semantic-background-color-primary);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 80px;
  padding: 112px 64px;
  position: relative;
  width: 1440px;
}

.community-discussion .container-5 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 80px;
  position: relative;
  width: 100%;
}

.community-discussion .content-11 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 32px;
  position: relative;
}

.community-discussion .section-title-4 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: 100%;
}

.community-discussion .subheading-2 {
  color: var(--semantic-text-primary);
  font-family: var(--text-regular-semi-bold-font-family);
  font-size: var(--text-regular-semi-bold-font-size);
  font-style: var(--text-regular-semi-bold-font-style);
  font-weight: var(--text-regular-semi-bold-font-weight);
  letter-spacing: var(--text-regular-semi-bold-letter-spacing);
  line-height: var(--text-regular-semi-bold-line-height);
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.community-discussion .content-12 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: 100%;
}

.community-discussion .heading-5 {
  align-self: stretch;
  color: var(--semantic-text-primary);
  font-family: var(--heading-desktop-h2-font-family);
  font-size: var(--heading-desktop-h2-font-size);
  font-style: var(--heading-desktop-h2-font-style);
  font-weight: var(--heading-desktop-h2-font-weight);
  letter-spacing: var(--heading-desktop-h2-letter-spacing);
  line-height: var(--heading-desktop-h2-line-height);
  margin-top: -1px;
  position: relative;
}

.community-discussion .lorem-ipsum-dolor-2 {
  align-self: stretch;
  color: var(--semantic-text-primary);
  font-family: var(--text-medium-normal-font-family);
  font-size: var(--text-medium-normal-font-size);
  font-style: var(--text-medium-normal-font-style);
  font-weight: var(--text-medium-normal-font-weight);
  letter-spacing: var(--text-medium-normal-letter-spacing);
  line-height: var(--text-medium-normal-line-height);
  position: relative;
}

.community-discussion .content-13 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  padding: 8px 0px;
  position: relative;
}

.community-discussion .row-4 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 16px;
  position: relative;
}

.community-discussion .icon-instance-node {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.community-discussion .text-wrapper-9 {
  color: var(--semantic-text-primary);
  font-family: var(--text-regular-normal-font-family);
  font-size: var(--text-regular-normal-font-size);
  font-style: var(--text-regular-normal-font-style);
  font-weight: var(--text-regular-normal-font-weight);
  letter-spacing: var(--text-regular-normal-letter-spacing);
  line-height: var(--text-regular-normal-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.community-discussion .form {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 24px;
  position: relative;
}

.community-discussion .input {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

.community-discussion .text-wrapper-10 {
  align-self: stretch;
  color: var(--semantic-text-primary);
  font-family: var(--text-regular-normal-font-family);
  font-size: var(--text-regular-normal-font-size);
  font-style: var(--text-regular-normal-font-style);
  font-weight: var(--text-regular-normal-font-weight);
  letter-spacing: var(--text-regular-normal-letter-spacing);
  line-height: var(--text-regular-normal-line-height);
  margin-top: -1px;
  position: relative;
}

.community-discussion .text-input-instance {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  margin-bottom: -1px !important;
  margin-left: -1px !important;
  margin-right: -1px !important;
  width: 100% !important;
}

.community-discussion .text-area-instance {
  align-self: stretch !important;
  margin-bottom: -1px !important;
  margin-left: -1px !important;
  margin-right: -1px !important;
  width: 100% !important;
}

.community-discussion .text-area-2 {
  left: 612px !important;
}

.community-discussion .text-area-3 {
  left: 608px !important;
}

.community-discussion .checkbox-instance {
  flex: 0 0 auto !important;
  padding: 0px 0px 16px !important;
}

.community-discussion .checkbox-2 {
  font-family: var(--text-small-normal-font-family) !important;
  font-size: var(--text-small-normal-font-size) !important;
  font-style: var(--text-small-normal-font-style) !important;
  font-weight: var(--text-small-normal-font-weight) !important;
  letter-spacing: var(--text-small-normal-letter-spacing) !important;
  line-height: var(--text-small-normal-line-height) !important;
}

.community-discussion .button-9 {
  flex: 0 0 auto !important;
  margin-bottom: -2px !important;
  margin-left: -2px !important;
}

.community-discussion .testimonial-15 {
  margin-right: -1px !important;
}

.community-discussion .footer-7 {
  margin-right: -24px !important;
}
