.layout-24 {
  align-items: flex-start;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  position: relative;
}

.layout-24 .container-6 {
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.layout-24 .content-11 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
}

.layout-24 .icon-relume-61 {
  height: 48px !important;
  position: relative !important;
  width: 48px !important;
}

.layout-24 .content-12 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.layout-24 .heading-8 {
  align-self: stretch;
  color: var(--semantic-text-primary);
  margin-top: -1px;
  position: relative;
}

.layout-24 .text-8 {
  align-self: stretch;
  color: var(--semantic-text-primary);
  position: relative;
}

.layout-24 .placeholder-image-4 {
  object-fit: cover;
  position: relative;
}

.layout-24.breakpoint-52-mobile {
  gap: 48px;
  padding: 64px 20px;
  width: 375px;
}

.layout-24.breakpoint-52-desktop {
  gap: 80px;
  padding: 112px 64px;
  width: 1440px;
}

.layout-24.breakpoint-52-mobile .container-6 {
  align-items: flex-start;
  flex-direction: column;
  gap: 48px;
}

.layout-24.breakpoint-52-desktop .container-6 {
  align-items: center;
  gap: 80px;
}

.layout-24.breakpoint-52-mobile .content-11 {
  align-self: stretch;
  flex: 0 0 auto;
  gap: 20px;
  width: 100%;
}

.layout-24.breakpoint-52-desktop .content-11 {
  flex: 1;
  flex-grow: 1;
  gap: 24px;
}

.layout-24.breakpoint-52-mobile .content-12 {
  gap: 20px;
}

.layout-24.breakpoint-52-desktop .content-12 {
  gap: 24px;
}

.layout-24.breakpoint-52-mobile .heading-8 {
  font-family: var(--heading-mobile-h3-font-family);
  font-size: var(--heading-mobile-h3-font-size);
  font-style: var(--heading-mobile-h3-font-style);
  font-weight: var(--heading-mobile-h3-font-weight);
  letter-spacing: var(--heading-mobile-h3-letter-spacing);
  line-height: var(--heading-mobile-h3-line-height);
}

.layout-24.breakpoint-52-desktop .heading-8 {
  font-family: var(--heading-desktop-h3-font-family);
  font-size: var(--heading-desktop-h3-font-size);
  font-style: var(--heading-desktop-h3-font-style);
  font-weight: var(--heading-desktop-h3-font-weight);
  letter-spacing: var(--heading-desktop-h3-letter-spacing);
  line-height: var(--heading-desktop-h3-line-height);
}

.layout-24.breakpoint-52-mobile .text-8 {
  font-family: var(--text-regular-normal-font-family);
  font-size: var(--text-regular-normal-font-size);
  font-style: var(--text-regular-normal-font-style);
  font-weight: var(--text-regular-normal-font-weight);
  letter-spacing: var(--text-regular-normal-letter-spacing);
  line-height: var(--text-regular-normal-line-height);
}

.layout-24.breakpoint-52-desktop .text-8 {
  font-family: var(--text-medium-normal-font-family);
  font-size: var(--text-medium-normal-font-size);
  font-style: var(--text-medium-normal-font-style);
  font-weight: var(--text-medium-normal-font-weight);
  letter-spacing: var(--text-medium-normal-letter-spacing);
  line-height: var(--text-medium-normal-line-height);
}

.layout-24.breakpoint-52-mobile .placeholder-image-4 {
  align-self: stretch;
  height: 348px;
  width: 100%;
}

.layout-24.breakpoint-52-desktop .placeholder-image-4 {
  flex: 1;
  flex-grow: 1;
  height: 640px;
}
