.layout {
  align-items: flex-start;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  position: relative;
}

.layout .container-3 {
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.layout .content-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
}

.layout .content-3 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.layout .section-title {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.layout .subheading {
  color: var(--semantic-text-primary-duplicate);
  font-family: var(--text-regular-semi-bold-font-family);
  font-size: var(--text-regular-semi-bold-font-size);
  font-style: var(--text-regular-semi-bold-font-style);
  font-weight: var(--text-regular-semi-bold-font-weight);
  letter-spacing: var(--text-regular-semi-bold-letter-spacing);
  line-height: var(--text-regular-semi-bold-line-height);
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.layout .content-4 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.layout .heading {
  align-self: stretch;
  color: var(--semantic-text-primary-duplicate);
  margin-top: -1px;
  position: relative;
}

.layout .text {
  align-self: stretch;
  color: var(--semantic-text-primary-duplicate);
  position: relative;
}

.layout .list {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 24px;
  padding: 8px 0px;
  position: relative;
  width: 100%;
}

.layout .list-item {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.layout .number {
  align-self: stretch;
  color: var(--semantic-text-primary-duplicate);
  margin-top: -1px;
  position: relative;
}

.layout .p {
  align-self: stretch;
  color: var(--semantic-text-primary-duplicate);
  font-family: var(--text-regular-normal-font-family);
  font-size: var(--text-regular-normal-font-size);
  font-style: var(--text-regular-normal-font-style);
  font-weight: var(--text-regular-normal-font-weight);
  letter-spacing: var(--text-regular-normal-letter-spacing);
  line-height: var(--text-regular-normal-line-height);
  position: relative;
}

.layout .list-item-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.layout .number-2 {
  align-self: stretch;
  color: var(--semantic-text-primary-duplicate);
  margin-top: -1px;
  position: relative;
}

.layout .actions-3 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 24px;
  padding: 16px 0px 0px;
  position: relative;
}

.layout .button-4 {
  flex: 0 0 auto !important;
  margin-bottom: -1px !important;
  margin-left: -1px !important;
  margin-top: -1px !important;
}

.layout .button-5 {
  flex: 0 0 auto !important;
}

.layout .placeholder-image {
  object-fit: cover;
  position: relative;
}

.layout .icon-relume-49 {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.layout.breakpoint-mobile {
  gap: 48px;
  padding: 64px 20px;
  width: 375px;
}

.layout.breakpoint-desktop {
  gap: 80px;
  padding: 112px 64px;
  width: 1440px;
}

.layout.breakpoint-mobile .container-3 {
  align-items: flex-start;
  flex-direction: column;
  gap: 48px;
}

.layout.breakpoint-desktop .container-3 {
  align-items: center;
  gap: 80px;
}

.layout.breakpoint-mobile .content-2 {
  align-self: stretch;
  flex: 0 0 auto;
  gap: 8px;
  width: 100%;
}

.layout.breakpoint-desktop .content-2 {
  flex: 1;
  flex-grow: 1;
  gap: 24px;
}

.layout.breakpoint-mobile .content-3 {
  gap: 24px;
}

.layout.breakpoint-desktop .content-3 {
  gap: 32px;
}

.layout.breakpoint-mobile .section-title {
  gap: 12px;
}

.layout.breakpoint-desktop .section-title {
  gap: 16px;
}

.layout.breakpoint-mobile .content-4 {
  gap: 20px;
}

.layout.breakpoint-desktop .content-4 {
  gap: 24px;
}

.layout.breakpoint-mobile .heading {
  font-family: var(--heading-mobile-h2-font-family);
  font-size: var(--heading-mobile-h2-font-size);
  font-style: var(--heading-mobile-h2-font-style);
  font-weight: var(--heading-mobile-h2-font-weight);
  letter-spacing: var(--heading-mobile-h2-letter-spacing);
  line-height: var(--heading-mobile-h2-line-height);
}

.layout.breakpoint-desktop .heading {
  font-family: var(--heading-desktop-h2-font-family);
  font-size: var(--heading-desktop-h2-font-size);
  font-style: var(--heading-desktop-h2-font-style);
  font-weight: var(--heading-desktop-h2-font-weight);
  letter-spacing: var(--heading-desktop-h2-letter-spacing);
  line-height: var(--heading-desktop-h2-line-height);
}

.layout.breakpoint-mobile .text {
  font-family: var(--text-regular-normal-font-family);
  font-size: var(--text-regular-normal-font-size);
  font-style: var(--text-regular-normal-font-style);
  font-weight: var(--text-regular-normal-font-weight);
  letter-spacing: var(--text-regular-normal-letter-spacing);
  line-height: var(--text-regular-normal-line-height);
}

.layout.breakpoint-desktop .text {
  font-family: var(--text-medium-normal-font-family);
  font-size: var(--text-medium-normal-font-size);
  font-style: var(--text-medium-normal-font-style);
  font-weight: var(--text-medium-normal-font-weight);
  letter-spacing: var(--text-medium-normal-letter-spacing);
  line-height: var(--text-medium-normal-line-height);
}

.layout.breakpoint-mobile .list {
  flex-direction: column;
}

.layout.breakpoint-mobile .list-item {
  align-self: stretch;
  flex: 0 0 auto;
  width: 100%;
}

.layout.breakpoint-desktop .list-item {
  flex: 1;
  flex-grow: 1;
}

.layout.breakpoint-mobile .number {
  font-family: var(--heading-mobile-h2-font-family);
  font-size: var(--heading-mobile-h2-font-size);
  font-style: var(--heading-mobile-h2-font-style);
  font-weight: var(--heading-mobile-h2-font-weight);
  letter-spacing: var(--heading-mobile-h2-letter-spacing);
  line-height: var(--heading-mobile-h2-line-height);
}

.layout.breakpoint-desktop .number {
  font-family: var(--heading-desktop-h2-font-family);
  font-size: var(--heading-desktop-h2-font-size);
  font-style: var(--heading-desktop-h2-font-style);
  font-weight: var(--heading-desktop-h2-font-weight);
  letter-spacing: var(--heading-desktop-h2-letter-spacing);
  line-height: var(--heading-desktop-h2-line-height);
}

.layout.breakpoint-mobile .list-item-2 {
  align-self: stretch;
  flex: 0 0 auto;
  width: 100%;
}

.layout.breakpoint-desktop .list-item-2 {
  flex: 1;
  flex-grow: 1;
}

.layout.breakpoint-mobile .number-2 {
  font-family: var(--heading-mobile-h2-font-family);
  font-size: var(--heading-mobile-h2-font-size);
  font-style: var(--heading-mobile-h2-font-style);
  font-weight: var(--heading-mobile-h2-font-weight);
  letter-spacing: var(--heading-mobile-h2-letter-spacing);
  line-height: var(--heading-mobile-h2-line-height);
}

.layout.breakpoint-desktop .number-2 {
  font-family: var(--heading-desktop-h2-font-family);
  font-size: var(--heading-desktop-h2-font-size);
  font-style: var(--heading-desktop-h2-font-style);
  font-weight: var(--heading-desktop-h2-font-weight);
  letter-spacing: var(--heading-desktop-h2-letter-spacing);
  line-height: var(--heading-desktop-h2-line-height);
}

.layout.breakpoint-mobile .placeholder-image {
  align-self: stretch;
  height: 348px;
  width: 100%;
}

.layout.breakpoint-desktop .placeholder-image {
  flex: 1;
  flex-grow: 1;
  height: 640px;
}
