.admin-interface {
  height: 6787px;
  width: 1440px;
}

.admin-interface .div-2 {
  align-items: flex-start;
  background-color: #ffffff;
  display: inline-flex;
  flex-direction: column;
  position: relative;
}

.admin-interface .navbar-1 {
  flex: 0 0 auto !important;
  margin-bottom: -2px !important;
  margin-right: -2px !important;
  margin-top: -2px !important;
}

.admin-interface .design-component-instance-node {
  margin-left: -1px !important;
  margin-top: -1px !important;
}

.admin-interface .header {
  align-items: flex-start;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 80px;
  height: 369px;
  padding: 112px 64px;
  position: relative;
  width: 1440px;
}

.admin-interface .content-14 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 24px;
  position: relative;
  width: 768px;
}

.admin-interface .short-heading-here {
  color: var(--semantic-text-primary);
  font-family: "Roboto", Helvetica;
  font-size: 56px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 67.2px;
  margin-top: -1px;
  position: relative;
  width: 768px;
}

.admin-interface .span {
  color: #000000;
  font-family: var(--heading-desktop-h1-font-family);
  font-size: var(--heading-desktop-h1-font-size);
  font-style: var(--heading-desktop-h1-font-style);
  font-weight: var(--heading-desktop-h1-font-weight);
  letter-spacing: var(--heading-desktop-h1-letter-spacing);
  line-height: var(--heading-desktop-h1-line-height);
}

.admin-interface .text-wrapper-6 {
  font-size: 20px;
  line-height: 24px;
}

.admin-interface .lorem-ipsum-dolor {
  align-self: stretch;
  color: var(--semantic-text-primary);
  font-family: var(--text-medium-normal-font-family);
  font-size: var(--text-medium-normal-font-size);
  font-style: var(--text-medium-normal-font-style);
  font-weight: var(--text-medium-normal-font-weight);
  letter-spacing: var(--text-medium-normal-letter-spacing);
  line-height: var(--text-medium-normal-line-height);
  margin-bottom: -14px;
  position: relative;
}

.admin-interface .design-component-instance-node-2 {
  flex: 0 0 auto !important;
}

.admin-interface .icon-relume-49-instance {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.admin-interface .layout-instance {
  flex: 0 0 auto !important;
  margin-bottom: -1px !important;
  margin-left: -1px !important;
  margin-right: -1px !important;
  margin-top: -1px !important;
}

.admin-interface .CTA-13 {
  flex: 0 0 auto !important;
  margin-bottom: -2px !important;
  margin-left: -2px !important;
  margin-top: -2px !important;
}

.admin-interface .footer-7 {
  margin-right: -24px !important;
}
