.text-input {
  display: flex;
  position: relative;
}

.text-input .text-wrapper-6 {
  color: var(--primitive-color-neutral-neutral);
  flex: 1;
  font-family: var(--text-regular-normal-font-family);
  font-size: var(--text-regular-normal-font-size);
  font-style: var(--text-regular-normal-font-style);
  font-weight: var(--text-regular-normal-font-weight);
  letter-spacing: var(--text-regular-normal-letter-spacing);
  line-height: var(--text-regular-normal-line-height);
  position: relative;
}

.text-input .instance-node-2 {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.text-input .select {
  align-items: center;
  align-self: stretch;
  background-color: var(--primitive-color-neutral-white);
  border: 1px solid;
  border-color: var(--primitive-color-brand-black);
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  margin-bottom: -1px;
  margin-left: -1px;
  margin-top: -1px;
  position: relative;
}

.text-input .type-your-message {
  color: var(--semantic-text-primary);
  font-family: var(--text-regular-normal-font-family);
  font-size: var(--text-regular-normal-font-size);
  font-style: var(--text-regular-normal-font-style);
  font-weight: var(--text-regular-normal-font-weight);
  letter-spacing: var(--text-regular-normal-letter-spacing);
  line-height: var(--text-regular-normal-line-height);
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.text-input .icon-chevron-down {
  height: 16px !important;
  position: relative !important;
  width: 16px !important;
}

.text-input .type-your-message-wrapper {
  align-self: stretch;
  background-color: var(--primitive-color-neutral-white);
  border: 1px solid;
  border-color: var(--primitive-color-brand-black);
  color: var(--primitive-color-neutral-neutral);
  flex: 1;
  flex-grow: 1;
  font-family: var(--text-regular-normal-font-family);
  font-size: var(--text-regular-normal-font-size);
  font-style: var(--text-regular-normal-font-style);
  font-weight: var(--text-regular-normal-font-weight);
  letter-spacing: var(--text-regular-normal-letter-spacing);
  line-height: var(--text-regular-normal-line-height);
  margin-bottom: -1px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 8px 12px;
  position: relative;
}

.text-input.website-input {
  align-items: flex-start;
  height: 48px;
  width: 560px;
}

.text-input.default {
  align-items: center;
  background-color: var(--primitive-color-neutral-white);
  border: 1px solid;
  border-color: var(--primitive-color-neutral-black);
  gap: 8px;
  padding: 12px;
  width: 562px;
}

.text-input.left-icon {
  align-items: center;
  background-color: var(--primitive-color-neutral-white);
  border: 1px solid;
  border-color: var(--primitive-color-neutral-black);
  gap: 12px;
  height: 50px;
  padding: 8px 12px;
  width: 562px;
}

.text-input.two-icons {
  align-items: center;
  background-color: var(--primitive-color-neutral-white);
  border: 1px solid;
  border-color: var(--primitive-color-neutral-black);
  gap: 12px;
  padding: 12px;
  width: 562px;
}

.text-input.right-icon {
  align-items: center;
  background-color: var(--primitive-color-neutral-white);
  border: 1px solid;
  border-color: var(--primitive-color-neutral-black);
  gap: 8px;
  height: 50px;
  padding: 8px 12px;
  width: 562px;
}

.text-input.input-with-dropdown {
  align-items: flex-start;
  height: 48px;
  width: 560px;
}

.text-input.website-input .select {
  padding: 8px 12px;
}

.text-input.default .select {
  padding: 8px 16px;
}

.text-input.left-icon .select {
  padding: 8px 16px;
}

.text-input.two-icons .select {
  padding: 8px 16px;
}

.text-input.right-icon .select {
  padding: 8px 16px;
}

.text-input.input-with-dropdown .select {
  padding: 8px 16px;
}
