.layout-238 {
  align-items: center;
  background-color: var(--semantic-background-color-primary);
  display: flex;
  flex-direction: column;
  position: relative;
}

.layout-238 .heading-4 {
  color: var(--semantic-text-primary);
  margin-top: -1px;
  position: relative;
  text-align: center;
}

.layout-238 .row-2 {
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 48px;
  position: relative;
  width: 100%;
}

.layout-238 .column-5 {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.layout-238 .content-10 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.layout-238 .icon-relume-52 {
  height: 48px !important;
  position: relative !important;
  width: 48px !important;
}

.layout-238 .section-title-4 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.layout-238 .heading-5 {
  align-self: stretch;
  color: var(--semantic-text-primary);
  margin-top: -1px;
  position: relative;
  text-align: center;
}

.layout-238 .text-5 {
  align-self: stretch;
  color: var(--semantic-text-primary);
  font-family: var(--text-regular-normal-font-family);
  font-size: var(--text-regular-normal-font-size);
  font-style: var(--text-regular-normal-font-style);
  font-weight: var(--text-regular-normal-font-weight);
  letter-spacing: var(--text-regular-normal-letter-spacing);
  line-height: var(--text-regular-normal-line-height);
  position: relative;
  text-align: center;
}

.layout-238 .action {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  padding: 8px 0px 0px;
  position: relative;
  width: 100%;
}

.layout-238 .button-8 {
  flex: 0 0 auto !important;
}

.layout-238 .column-6 {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.layout-238 .content-11 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.layout-238 .section-title-5 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.layout-238 .heading-6 {
  align-self: stretch;
  color: var(--semantic-text-primary);
  margin-top: -1px;
  position: relative;
  text-align: center;
}

.layout-238 .column-7 {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.layout-238 .content-12 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.layout-238 .section-title-6 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.layout-238 .heading-7 {
  align-self: stretch;
  color: var(--semantic-text-primary);
  margin-top: -1px;
  position: relative;
  text-align: center;
}

.layout-238 .icon-relume-58 {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.layout-238.breakpoint-18-mobile {
  gap: 48px;
  padding: 64px 20px;
  width: 375px;
}

.layout-238.breakpoint-18-desktop {
  gap: 80px;
  padding: 112px 64px;
  width: 1440px;
}

.layout-238.breakpoint-18-mobile .heading-4 {
  align-self: stretch;
  font-family: var(--heading-mobile-h3-font-family);
  font-size: var(--heading-mobile-h3-font-size);
  font-style: var(--heading-mobile-h3-font-style);
  font-weight: var(--heading-mobile-h3-font-weight);
  letter-spacing: var(--heading-mobile-h3-letter-spacing);
  line-height: var(--heading-mobile-h3-line-height);
}

.layout-238.breakpoint-18-desktop .heading-4 {
  font-family: var(--heading-desktop-h3-font-family);
  font-size: var(--heading-desktop-h3-font-size);
  font-style: var(--heading-desktop-h3-font-style);
  font-weight: var(--heading-desktop-h3-font-weight);
  letter-spacing: var(--heading-desktop-h3-letter-spacing);
  line-height: var(--heading-desktop-h3-line-height);
  width: 768px;
}

.layout-238.breakpoint-18-mobile .row-2 {
  align-items: center;
  flex-direction: column;
}

.layout-238.breakpoint-18-desktop .row-2 {
  align-items: flex-start;
  justify-content: center;
}

.layout-238.breakpoint-18-mobile .column-5 {
  align-self: stretch;
  flex: 0 0 auto;
  gap: 16px;
  width: 100%;
}

.layout-238.breakpoint-18-desktop .column-5 {
  flex: 1;
  flex-grow: 1;
  gap: 24px;
}

.layout-238.breakpoint-18-mobile .content-10 {
  gap: 20px;
}

.layout-238.breakpoint-18-desktop .content-10 {
  gap: 24px;
}

.layout-238.breakpoint-18-mobile .section-title-4 {
  gap: 20px;
}

.layout-238.breakpoint-18-desktop .section-title-4 {
  gap: 24px;
}

.layout-238.breakpoint-18-mobile .heading-5 {
  font-family: var(--heading-mobile-h5-font-family);
  font-size: var(--heading-mobile-h5-font-size);
  font-style: var(--heading-mobile-h5-font-style);
  font-weight: var(--heading-mobile-h5-font-weight);
  letter-spacing: var(--heading-mobile-h5-letter-spacing);
  line-height: var(--heading-mobile-h5-line-height);
}

.layout-238.breakpoint-18-desktop .heading-5 {
  font-family: var(--heading-desktop-h5-font-family);
  font-size: var(--heading-desktop-h5-font-size);
  font-style: var(--heading-desktop-h5-font-style);
  font-weight: var(--heading-desktop-h5-font-weight);
  letter-spacing: var(--heading-desktop-h5-letter-spacing);
  line-height: var(--heading-desktop-h5-line-height);
}

.layout-238.breakpoint-18-mobile .column-6 {
  align-self: stretch;
  flex: 0 0 auto;
  gap: 16px;
  width: 100%;
}

.layout-238.breakpoint-18-desktop .column-6 {
  flex: 1;
  flex-grow: 1;
  gap: 24px;
}

.layout-238.breakpoint-18-mobile .content-11 {
  gap: 20px;
}

.layout-238.breakpoint-18-desktop .content-11 {
  gap: 24px;
}

.layout-238.breakpoint-18-mobile .section-title-5 {
  gap: 20px;
}

.layout-238.breakpoint-18-desktop .section-title-5 {
  gap: 24px;
}

.layout-238.breakpoint-18-mobile .heading-6 {
  font-family: var(--heading-mobile-h5-font-family);
  font-size: var(--heading-mobile-h5-font-size);
  font-style: var(--heading-mobile-h5-font-style);
  font-weight: var(--heading-mobile-h5-font-weight);
  letter-spacing: var(--heading-mobile-h5-letter-spacing);
  line-height: var(--heading-mobile-h5-line-height);
}

.layout-238.breakpoint-18-desktop .heading-6 {
  font-family: var(--heading-desktop-h5-font-family);
  font-size: var(--heading-desktop-h5-font-size);
  font-style: var(--heading-desktop-h5-font-style);
  font-weight: var(--heading-desktop-h5-font-weight);
  letter-spacing: var(--heading-desktop-h5-letter-spacing);
  line-height: var(--heading-desktop-h5-line-height);
}

.layout-238.breakpoint-18-mobile .column-7 {
  align-self: stretch;
  flex: 0 0 auto;
  gap: 16px;
  width: 100%;
}

.layout-238.breakpoint-18-desktop .column-7 {
  flex: 1;
  flex-grow: 1;
  gap: 24px;
}

.layout-238.breakpoint-18-mobile .content-12 {
  gap: 20px;
}

.layout-238.breakpoint-18-desktop .content-12 {
  gap: 24px;
}

.layout-238.breakpoint-18-mobile .section-title-6 {
  gap: 20px;
}

.layout-238.breakpoint-18-desktop .section-title-6 {
  gap: 24px;
}

.layout-238.breakpoint-18-mobile .heading-7 {
  font-family: var(--heading-mobile-h5-font-family);
  font-size: var(--heading-mobile-h5-font-size);
  font-style: var(--heading-mobile-h5-font-style);
  font-weight: var(--heading-mobile-h5-font-weight);
  letter-spacing: var(--heading-mobile-h5-letter-spacing);
  line-height: var(--heading-mobile-h5-line-height);
}

.layout-238.breakpoint-18-desktop .heading-7 {
  font-family: var(--heading-desktop-h5-font-family);
  font-size: var(--heading-desktop-h5-font-size);
  font-style: var(--heading-desktop-h5-font-style);
  font-weight: var(--heading-desktop-h5-font-weight);
  letter-spacing: var(--heading-desktop-h5-letter-spacing);
  line-height: var(--heading-desktop-h5-line-height);
}
