.testimonial {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  position: relative;
}

.testimonial .content-7 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.testimonial .logos-1 {
  height: 56px !important;
  position: relative !important;
  width: 140px !important;
}

.testimonial .quote {
  align-self: stretch;
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-weight: 700;
  letter-spacing: 0;
  position: relative;
  text-align: center;
}

.testimonial .avatar {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: 300px;
}

.testimonial .avatar-image {
  height: 56px;
  object-fit: cover;
  position: relative;
  width: 56px;
}

.testimonial .avatar-content {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.testimonial .text-3 {
  align-self: stretch;
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  text-align: center;
}

.testimonial .text-4 {
  align-self: stretch;
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  text-align: center;
}

.testimonial.breakpoint-25-mobile {
  gap: 48px;
  padding: 64px 20px;
  width: 375px;
}

.testimonial.breakpoint-25-desktop {
  gap: 80px;
  padding: 112px 64px;
  width: 1440px;
}

.testimonial.breakpoint-25-mobile .content-7 {
  align-self: stretch;
  gap: 24px;
  width: 100%;
}

.testimonial.breakpoint-25-desktop .content-7 {
  gap: 32px;
  width: 768px;
}

.testimonial.breakpoint-25-mobile .quote {
  font-size: 20px;
  line-height: 28px;
}

.testimonial.breakpoint-25-desktop .quote {
  font-size: 24px;
  line-height: 33.6px;
}
