.header {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header .column-5 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.header .content-2 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.header .medium-length-hero {
  align-self: stretch;
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-weight: 700;
  letter-spacing: 0;
  margin-top: -1px;
  position: relative;
  text-align: center;
}

.header .lorem-ipsum-dolor {
  align-self: stretch;
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  position: relative;
  text-align: center;
}

.header .actions-3 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 16px;
  padding: 16px 0px 0px;
  position: relative;
}

.header .button-4 {
  flex: 0 0 auto !important;
  margin-bottom: -1px !important;
  margin-right: -1px !important;
  margin-top: -1px !important;
}

.header .placeholder-image {
  align-self: stretch;
  position: relative;
  width: 100%;
}

.header.breakpoint-mobile {
  gap: 48px;
  padding: 64px 20px;
  width: 375px;
}

.header.breakpoint-desktop {
  gap: 80px;
  padding: 112px 64px;
  width: 1440px;
}

.header.breakpoint-mobile .column-5 {
  align-self: stretch;
  gap: 8px;
  width: 100%;
}

.header.breakpoint-desktop .column-5 {
  gap: 24px;
  width: 768px;
}

.header.breakpoint-mobile .content-2 {
  gap: 20px;
}

.header.breakpoint-desktop .content-2 {
  gap: 24px;
}

.header.breakpoint-mobile .medium-length-hero {
  font-size: 40px;
  line-height: 48px;
}

.header.breakpoint-desktop .medium-length-hero {
  font-size: 56px;
  line-height: 67.2px;
}

.header.breakpoint-mobile .lorem-ipsum-dolor {
  font-size: 16px;
  line-height: 24px;
}

.header.breakpoint-desktop .lorem-ipsum-dolor {
  font-size: 18px;
  line-height: 27px;
}

.header.breakpoint-mobile .placeholder-image {
  height: 188px;
}

.header.breakpoint-desktop .placeholder-image {
  height: 738px;
}
