.portfolio {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  position: relative;
}

.portfolio .section-title {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.portfolio .subheading {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  text-align: center;
}

.portfolio .content-3 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.portfolio .heading {
  align-self: stretch;
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-weight: 700;
  letter-spacing: 0;
  margin-top: -1px;
  position: relative;
  text-align: center;
}

.portfolio .text {
  align-self: stretch;
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  position: relative;
  text-align: center;
}

.portfolio .content-4 {
  align-items: center;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.portfolio .portfolio-list {
  align-items: center;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.portfolio .card {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
}

.portfolio .placeholder-image {
  align-self: stretch;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.portfolio .content-5 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.portfolio .text-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.portfolio .heading-2 {
  align-self: stretch;
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-weight: 700;
  letter-spacing: 0;
  margin-top: -1px;
  position: relative;
}

.portfolio .p {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
}

.portfolio .button-4 {
  flex: 0 0 auto !important;
}

.portfolio .icon-relume-48 {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.portfolio .card-2 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
}

.portfolio .img {
  align-self: stretch;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.portfolio .content-6 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.portfolio .text-3 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.portfolio .heading-3 {
  align-self: stretch;
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-weight: 700;
  letter-spacing: 0;
  margin-top: -1px;
  position: relative;
}

.portfolio .text-4 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
}

.portfolio .button-5 {
  flex: 0 0 auto !important;
  margin-bottom: -1px !important;
}

.portfolio.breakpoint-3-mobile {
  gap: 48px;
  padding: 64px 20px;
  width: 375px;
}

.portfolio.breakpoint-3-desktop {
  gap: 80px;
  padding: 112px 64px;
  width: 1440px;
}

.portfolio.breakpoint-3-mobile .section-title {
  align-self: stretch;
  gap: 12px;
  width: 100%;
}

.portfolio.breakpoint-3-desktop .section-title {
  gap: 16px;
  width: 768px;
}

.portfolio.breakpoint-3-mobile .subheading {
  align-self: stretch;
}

.portfolio.breakpoint-3-desktop .subheading {
  white-space: nowrap;
  width: fit-content;
}

.portfolio.breakpoint-3-mobile .content-3 {
  gap: 20px;
}

.portfolio.breakpoint-3-desktop .content-3 {
  gap: 24px;
}

.portfolio.breakpoint-3-mobile .heading {
  font-size: 36px;
  line-height: 43.2px;
}

.portfolio.breakpoint-3-desktop .heading {
  font-size: 48px;
  line-height: 57.6px;
}

.portfolio.breakpoint-3-mobile .text {
  font-size: 16px;
  line-height: 24px;
}

.portfolio.breakpoint-3-desktop .text {
  font-size: 18px;
  line-height: 27px;
}

.portfolio.breakpoint-3-mobile .content-4 {
  align-self: stretch;
  display: flex;
  gap: 40px;
  width: 100%;
}

.portfolio.breakpoint-3-desktop .content-4 {
  display: inline-flex;
  gap: 64px;
}

.portfolio.breakpoint-3-mobile .portfolio-list {
  align-self: stretch;
  display: flex;
  gap: 48px;
  width: 100%;
}

.portfolio.breakpoint-3-desktop .portfolio-list {
  display: inline-flex;
  gap: 80px;
}

.portfolio.breakpoint-3-mobile .card {
  align-self: stretch;
  width: 100%;
}

.portfolio.breakpoint-3-desktop .card {
  width: 1312px;
}

.portfolio.breakpoint-3-mobile .placeholder-image {
  height: 188px;
}

.portfolio.breakpoint-3-desktop .placeholder-image {
  height: 738px;
}

.portfolio.breakpoint-3-mobile .content-5 {
  flex-direction: column;
  gap: 24px;
}

.portfolio.breakpoint-3-desktop .content-5 {
  gap: 80px;
}

.portfolio.breakpoint-3-mobile .text-2 {
  flex: 0 0 auto;
  width: 100%;
}

.portfolio.breakpoint-3-desktop .text-2 {
  flex: 1;
  flex-grow: 1;
}

.portfolio.breakpoint-3-mobile .heading-2 {
  font-size: 20px;
  line-height: 28px;
}

.portfolio.breakpoint-3-desktop .heading-2 {
  font-size: 24px;
  line-height: 33.6px;
}

.portfolio.breakpoint-3-mobile .p {
  align-self: stretch;
}

.portfolio.breakpoint-3-desktop .p {
  margin-right: -11px;
  width: 1123px;
}

.portfolio.breakpoint-3-mobile .card-2 {
  align-self: stretch;
  width: 100%;
}

.portfolio.breakpoint-3-desktop .card-2 {
  width: 1312px;
}

.portfolio.breakpoint-3-mobile .img {
  height: 188px;
}

.portfolio.breakpoint-3-desktop .img {
  height: 738px;
}

.portfolio.breakpoint-3-mobile .content-6 {
  flex-direction: column;
  gap: 24px;
}

.portfolio.breakpoint-3-desktop .content-6 {
  gap: 80px;
}

.portfolio.breakpoint-3-mobile .text-3 {
  flex: 0 0 auto;
  width: 100%;
}

.portfolio.breakpoint-3-desktop .text-3 {
  flex: 1;
  flex-grow: 1;
}

.portfolio.breakpoint-3-mobile .heading-3 {
  font-size: 20px;
  line-height: 28px;
}

.portfolio.breakpoint-3-desktop .heading-3 {
  font-size: 24px;
  line-height: 33.6px;
}

.portfolio.breakpoint-3-mobile .text-4 {
  align-self: stretch;
}

.portfolio.breakpoint-3-desktop .text-4 {
  margin-right: -11px;
  width: 1123px;
}
