.layout {
  align-items: flex-start;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  position: relative;
}

.layout .container-3 {
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.layout .content-8 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
}

.layout .content-9 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.layout .section-title-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.layout .subheading-2 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.layout .content-10 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.layout .heading-4 {
  align-self: stretch;
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-weight: 700;
  letter-spacing: 0;
  margin-top: -1px;
  position: relative;
}

.layout .text-7 {
  align-self: stretch;
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  position: relative;
}

.layout .list {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 24px;
  padding: 8px 0px;
  position: relative;
  width: 100%;
}

.layout .list-item {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
}

.layout .subheading-one {
  align-self: stretch;
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-weight: 700;
  letter-spacing: 0;
  margin-top: -1px;
  position: relative;
}

.layout .text-8 {
  align-self: stretch;
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
}

.layout .list-item-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
}

.layout .subheading-two {
  align-self: stretch;
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-weight: 700;
  letter-spacing: 0;
  margin-top: -1px;
  position: relative;
}

.layout .actions-3 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 24px;
  padding: 16px 0px 0px;
  position: relative;
}

.layout .button-6 {
  flex: 0 0 auto !important;
  margin-bottom: -1px !important;
  margin-left: -1px !important;
  margin-top: -1px !important;
}

.layout .button-7 {
  flex: 0 0 auto !important;
}

.layout .placeholder-image-2 {
  object-fit: cover;
  position: relative;
}

.layout .icon-relume-42 {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.layout.breakpoint-30-mobile {
  gap: 48px;
  padding: 64px 20px;
  width: 375px;
}

.layout.breakpoint-30-desktop {
  gap: 80px;
  padding: 112px 64px;
  width: 1440px;
}

.layout.breakpoint-30-mobile .container-3 {
  align-items: flex-start;
  flex-direction: column;
  gap: 48px;
}

.layout.breakpoint-30-desktop .container-3 {
  align-items: center;
  gap: 80px;
}

.layout.breakpoint-30-mobile .content-8 {
  align-self: stretch;
  flex: 0 0 auto;
  gap: 8px;
  width: 100%;
}

.layout.breakpoint-30-desktop .content-8 {
  flex: 1;
  flex-grow: 1;
  gap: 24px;
}

.layout.breakpoint-30-mobile .content-9 {
  gap: 24px;
}

.layout.breakpoint-30-desktop .content-9 {
  gap: 32px;
}

.layout.breakpoint-30-mobile .section-title-2 {
  gap: 12px;
}

.layout.breakpoint-30-desktop .section-title-2 {
  gap: 16px;
}

.layout.breakpoint-30-mobile .content-10 {
  gap: 20px;
}

.layout.breakpoint-30-desktop .content-10 {
  gap: 24px;
}

.layout.breakpoint-30-mobile .heading-4 {
  font-size: 36px;
  line-height: 43.2px;
}

.layout.breakpoint-30-desktop .heading-4 {
  font-size: 48px;
  line-height: 57.6px;
}

.layout.breakpoint-30-mobile .text-7 {
  font-size: 16px;
  line-height: 24px;
}

.layout.breakpoint-30-desktop .text-7 {
  font-size: 18px;
  line-height: 27px;
}

.layout.breakpoint-30-mobile .list {
  flex-direction: column;
}

.layout.breakpoint-30-mobile .list-item {
  align-self: stretch;
  flex: 0 0 auto;
  gap: 12px;
  width: 100%;
}

.layout.breakpoint-30-desktop .list-item {
  flex: 1;
  flex-grow: 1;
  gap: 16px;
}

.layout.breakpoint-30-mobile .subheading-one {
  font-size: 18px;
  line-height: 25.2px;
}

.layout.breakpoint-30-desktop .subheading-one {
  font-size: 20px;
  line-height: 28px;
}

.layout.breakpoint-30-mobile .list-item-2 {
  align-self: stretch;
  flex: 0 0 auto;
  gap: 12px;
  width: 100%;
}

.layout.breakpoint-30-desktop .list-item-2 {
  flex: 1;
  flex-grow: 1;
  gap: 16px;
}

.layout.breakpoint-30-mobile .subheading-two {
  font-size: 18px;
  line-height: 25.2px;
}

.layout.breakpoint-30-desktop .subheading-two {
  font-size: 20px;
  line-height: 28px;
}

.layout.breakpoint-30-mobile .placeholder-image-2 {
  align-self: stretch;
  height: 348px;
  width: 100%;
}

.layout.breakpoint-30-desktop .placeholder-image-2 {
  flex: 1;
  flex-grow: 1;
  height: 640px;
}
