.layout {
  align-items: flex-start;
  background-color: var(--semantic-background-color-primary);
  display: flex;
  flex-direction: column;
  position: relative;
}

.layout .container-3 {
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.layout .content-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
}

.layout .heading {
  align-self: stretch;
  color: var(--semantic-text-primary);
  margin-top: -1px;
  position: relative;
}

.layout .text {
  align-self: stretch;
  color: var(--semantic-text-primary);
  font-family: var(--text-medium-normal-font-family);
  font-size: var(--text-medium-normal-font-size);
  font-style: var(--text-medium-normal-font-style);
  font-weight: var(--text-medium-normal-font-weight);
  letter-spacing: var(--text-medium-normal-letter-spacing);
  line-height: var(--text-medium-normal-line-height);
  position: relative;
}

.layout .placeholder-image {
  object-fit: cover;
  position: relative;
}

.layout.breakpoint-3-mobile {
  gap: 48px;
  padding: 64px 20px;
  width: 375px;
}

.layout.breakpoint-3-desktop {
  gap: 80px;
  padding: 112px 64px;
  width: 1440px;
}

.layout.breakpoint-3-mobile .container-3 {
  align-items: flex-start;
  flex-direction: column;
  gap: 48px;
}

.layout.breakpoint-3-desktop .container-3 {
  align-items: center;
  gap: 80px;
}

.layout.breakpoint-3-mobile .content-3 {
  align-self: stretch;
  flex: 0 0 auto;
  gap: 20px;
  width: 100%;
}

.layout.breakpoint-3-desktop .content-3 {
  flex: 1;
  flex-grow: 1;
  gap: 24px;
}

.layout.breakpoint-3-mobile .heading {
  font-family: var(--heading-mobile-h3-font-family);
  font-size: var(--heading-mobile-h3-font-size);
  font-style: var(--heading-mobile-h3-font-style);
  font-weight: var(--heading-mobile-h3-font-weight);
  letter-spacing: var(--heading-mobile-h3-letter-spacing);
  line-height: var(--heading-mobile-h3-line-height);
}

.layout.breakpoint-3-desktop .heading {
  font-family: var(--heading-desktop-h3-font-family);
  font-size: var(--heading-desktop-h3-font-size);
  font-style: var(--heading-desktop-h3-font-style);
  font-weight: var(--heading-desktop-h3-font-weight);
  letter-spacing: var(--heading-desktop-h3-letter-spacing);
  line-height: var(--heading-desktop-h3-line-height);
}

.layout.breakpoint-3-mobile .placeholder-image {
  align-self: stretch;
  height: 348px;
  width: 100%;
}

.layout.breakpoint-3-desktop .placeholder-image {
  flex: 1;
  flex-grow: 1;
  height: 640px;
}
