.testimonial {
  align-items: center;
  background-color: var(--semantic-background-color-primary);
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;
}

.testimonial .content-7 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.testimonial .placeholder-image {
  flex: 1;
  flex-grow: 1;
  height: 640px;
  object-fit: cover;
  position: relative;
}

.testimonial .content-8 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 32px;
  position: relative;
}

.testimonial .img-3 {
  flex: 0 0 auto;
  position: relative;
}

.testimonial .quote {
  align-self: stretch;
  color: var(--semantic-text-primary);
  font-family: var(--heading-desktop-h5-font-family);
  font-size: var(--heading-desktop-h5-font-size);
  font-style: var(--heading-desktop-h5-font-style);
  font-weight: var(--heading-desktop-h5-font-weight);
  letter-spacing: var(--heading-desktop-h5-letter-spacing);
  line-height: var(--heading-desktop-h5-line-height);
  position: relative;
}

.testimonial .avatar {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 20px;
  position: relative;
}

.testimonial .avatar-content {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.testimonial .text-11 {
  color: var(--semantic-text-primary);
  font-family: var(--text-regular-semi-bold-font-family);
  font-size: var(--text-regular-semi-bold-font-size);
  font-style: var(--text-regular-semi-bold-font-style);
  font-weight: var(--text-regular-semi-bold-font-weight);
  letter-spacing: var(--text-regular-semi-bold-letter-spacing);
  line-height: var(--text-regular-semi-bold-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.testimonial .text-12 {
  color: var(--semantic-text-primary);
  font-family: var(--text-regular-normal-font-family);
  font-size: var(--text-regular-normal-font-size);
  font-style: var(--text-regular-normal-font-style);
  font-weight: var(--text-regular-normal-font-weight);
  letter-spacing: var(--text-regular-normal-letter-spacing);
  line-height: var(--text-regular-normal-line-height);
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.testimonial .divider {
  height: 61px;
  object-fit: cover;
  position: relative;
  width: 1px;
}

.testimonial .logos {
  height: 56px !important;
  position: relative !important;
  width: 140px !important;
}

.testimonial .slider-dots {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.testimonial .dot {
  background-color: var(--primitive-color-neutral-black);
  border-radius: 4px;
  height: 8px;
  position: relative;
  width: 8px;
}

.testimonial .dot-2 {
  background-color: var(--primitive-color-neutral-neutral-lighter);
  border-radius: 4px;
  height: 8px;
  position: relative;
  width: 8px;
}

.testimonial .content-9 {
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.testimonial .slider-dots-2 {
  align-items: flex-start;
  flex: 0 0 auto;
  position: relative;
}

.testimonial .quote-2 {
  align-self: stretch;
  color: var(--semantic-text-primary);
  font-family: var(--heading-mobile-h5-font-family);
  font-size: var(--heading-mobile-h5-font-size);
  font-style: var(--heading-mobile-h5-font-style);
  font-weight: var(--heading-mobile-h5-font-weight);
  letter-spacing: var(--heading-mobile-h5-letter-spacing);
  line-height: var(--heading-mobile-h5-line-height);
  position: relative;
}

.testimonial .avatar-2 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 16px;
  margin-right: -15px;
  position: relative;
}

.testimonial .logos-1 {
  height: 56px !important;
  position: relative !important;
  width: 125px !important;
}

.testimonial .slider-buttons {
  position: relative;
}

.testimonial.breakpoint-52-mobile {
  padding: 64px 20px;
  width: 375px;
}

.testimonial.breakpoint-52-desktop {
  padding: 112px 64px;
  width: 1440px;
}

.testimonial.breakpoint-52-mobile .content-7 {
  justify-content: space-between;
}

.testimonial.breakpoint-52-desktop .content-7 {
  gap: 80px;
}

.testimonial.breakpoint-52-mobile .content-9 {
  align-items: flex-start;
  flex-direction: column;
  gap: 48px;
  justify-content: center;
}

.testimonial.breakpoint-52-desktop .content-9 {
  align-items: center;
  justify-content: space-between;
}

.testimonial.breakpoint-52-mobile .slider-dots-2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow: hidden;
  width: 100%;
}

.testimonial.breakpoint-52-desktop .slider-dots-2 {
  display: inline-flex;
  gap: 8px;
}

.testimonial.breakpoint-52-mobile .slider-buttons {
  align-self: stretch;
  height: 340px;
  object-fit: cover;
  width: 100%;
}

.testimonial.breakpoint-52-desktop .slider-buttons {
  flex: 0 0 auto;
}
